{% set page = 'profile' %} 
{% include 'partials/header_edit.html' %}
{% from "macros/profile_edit.jinja" import profile_edit_form_field, profile_status_history_field %}

<!-- Main container -->
<div class="page-container">
    
<!-- bloc-0 -->
<!--<div class="bloc full-width-bloc navbar sticky-nav bgc-white l-bloc" id="bloc-0">
	<div class="container">
		<nav class="navbar row mini-nav">
			<div class="navbar-header">
				<a class="navbar-brand logo" href="{{ url_for('web.profile', user_id=user.id)}}"><h1>Finguide.</h1></a>
				<button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle menu-icon-circles-vert" data-toggle="collapse" data-target=".navbar-1">
					<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse navbar-1 special-dropdown-nav">
				<ul class="site-navigation nav navbar-nav">
					<li>
						<a href="{{ url_for('web.profile', user_id=user.id)}}">Home</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>
-->
<!-- bloc-0 END -->
<form action="{{ url_for('web.profile_edit', user_id=user.id) }}" method="post">
	<ul class="profile-edit">
<!-- bloc-1 -->
<div class="bloc bgc-white full-width-bloc tc-olive-drab-7" id="bloc-1">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-3">
						<div class="left-panel">
							<h1 class="mg-md tc-olive-drab-7">
								{{ user.firstName }}
							</h1>
							<div class="input-container">
								<a href="{{ url_for('web.profile', user_id=user.id)}}" class="btn">View Profile</a>
							</div>
							<div class="row">
								<div class="col-sm-5">
									<p>
										Created Date
									</p>
								</div>
								<div class="col-sm-7">
									<p>
										{{ user.created_at | datetimeformat }}
									</p>
								</div>
							</div>
							<div class="input-container">
								{{ profile_edit_form_field(form.firstName) }}
							</div>	
							<div class="input-container">
										{{ profile_edit_form_field(form.phone) }}
							</div>										
							<div class="input-container">
								{{ profile_edit_form_field(form.email) }}
							</div>							
							<div class="input-container">
								{{ profile_edit_form_field(form.state) }}
							</div>	
							<div class="input-container">
								{{ profile_edit_form_field(form.user_status) }}
						        <ul>
						            {{ profile_status_history_field(user.completed_at, '5 - Completed') }}
						            {{ profile_status_history_field(user.waiting_consultation_at, '4 - Waiting Consultation') }}
						            {{ profile_status_history_field(user.question_answered_at, '3c - Question Answered') }}
						            {{ profile_status_history_field(user.waiting_user_answers_at, '3b - Waiting User Answers') }}
						            {{ profile_status_history_field(user.waiting_user_schedule_at, '3a - Waiting User Schedule') }}
						            {{ profile_status_history_field(user.waiting_expert_review_at, '2 - Waiting Expert Review') }}
						            {{ profile_status_history_field(user.waiting_data_review_at, '1 - Waiting Data Review') }}
						        </ul>
							</div>
							<div class="input-container">
						        {{ profile_edit_form_field(form.conclusion) }}
						        <ul>
						            {{ profile_status_history_field(user.no_action_required_at, 'No Action Required') }}
						            {{ profile_status_history_field(user.crn_settlement_at, 'CRN Settlement') }}
						            {{ profile_status_history_field(user.settlement_referral_at, 'Settlement Referral') }}
						            {{ profile_status_history_field(user.bankruptcy_referral_at, 'Bankruptcy Referral') }}
						            {{ profile_status_history_field(user.student_loan_referral_at, 'Student Loan Referral') }}
						            {{ profile_status_history_field(user.debt_defense_referral_at, 'Debt Defense Referral') }}
						            {{ profile_status_history_field(user.credit_counseling_referral_at, 'Credit Counseling Referral') }}
						            {{ profile_status_history_field(user.other_action_required_at, 'Other Action Required') }}
						        </ul>
							</div>
							<h3 class="mg-md tc-olive-drab-7">
								Expert Note<br>
							</h3>
                            <div class="input-container">
                                {{ profile_edit_form_field(form.expert_note_template_name) }}
							</div>
							<div class="input-container">
								{{ profile_edit_form_field(form.expert_note) }}
							</div>
						</div>
					</div>
					<div class="col-sm-9">
						<div class="row bgc-white-smoke ">
							<div class="col-xs-12 col-md-8 col-md-offset-2">
                                <a href="{{ url_for('web.admin') }}" style="float: right; margin-right: 20px"><u>Go to Admin Page</u></a>
								<div class="worksheet-section">
									<h2 class="mg-md tc-olive-drab-7">
										The Situation
									</h2>
									<div class="input-container">
										{{ profile_edit_form_field(form.questionConsultation) }}
									</div>
									<div class="input-container">
										{{ profile_edit_form_field(form.basic_hardship) }}
									</div>
									<div class="input-container">
										{{ profile_edit_form_field(form.totalDebt) }}
									</div>
									<div class="input-container">
										{{ profile_edit_form_field(form.monthlyDebtPayments) }}
									</div>
									<div class="input-container">
										{{ profile_edit_form_field(form.situationDetail) }}
									</div>
								</div>
								<div class="worksheet-section">
									<h2 class="mg-md tc-olive-drab-7">
										Primary Issue
									</h2>
                                    <!-- Debt List - Contains edit and delete buttons for each creditor on profile edit page -->
                                    <!-- Copied here for now instead of using an include, for easier design changes -->
                                    <div class="row top-margin-50 voffset">
                                        <div class="col-xs-12 col-md-8 col-md-offset-2">
                                            <div class="row">
                                                <div class="col-sm-8 col-sm-12">
                                                    <h2 class="mg-md">
                                                        Debts
                                                        <a class="button" href="{{ url_for('web.debt_add', user_id=user.id) }}">add</a>
                                                    </h2>
                                                </div>
                                            </div>
                                            {% for debt in user.debts %}
                                                <div class="row voffset info-row">
                                                    <div class="col-sm-12">
                                                        <h5 class="mg-md">
                                                            Creditor {{ loop.index }}
                                                             <a class="button" href="{{ url_for('web.debt_edit', debt_id=debt.id) }}">edit</a>
                                                             <input type="submit" form="form_{{ debt.id }}" class="button" value="delete"/>
                                                        </h5>
                                                    </div>
                                                </div>
                                                <div class="row voffset info-row">
                                                    <div class="col-sm-5">
                                                        <h3 class="mg-md">
                                                            Name<br>
                                                        </h3>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        <h4 class="mg-md">
                                                            {{ debt.creditor_name or '-' }}
                                                        </h4>
                                                    </div>
                                                </div>
                                                <div class="row voffset info-row">
                                                    <div class="col-sm-5">
                                                        <h3 class="mg-md">
                                                            Collection Agency<br>
                                                        </h3>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        <h4 class="mg-md">
                                                            {{ debt.collection_agency or '-' }}
                                                        </h4>
                                                    </div>
                                                </div>
                                                <div class="row voffset info-row">
                                                    <div class="col-sm-5">
                                                        <h3 class="mg-md">
                                                            Debt Balance<br>
                                                        </h3>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        <h4 class="mg-md">
                                                            {{ "${:,.2f}".format(debt.balance) if debt.balance else '-' }}
                                                        </h4>
                                                    </div>
                                                </div>
                                                <div class="row voffset info-row">
                                                    <div class="col-sm-5">
                                                        <h3 class="mg-md">
                                                            Interest Rate<br>
                                                        </h3>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        <h4 class="mg-md">
                                                            {{ "{:,.0f}%".format(debt.interest_rate*100) if debt.interest_rate else '-' }}
                                                        </h4>
                                                    </div>
                                                </div>
                                                <div class="row voffset info-row">
                                                    <div class="col-sm-5">
                                                        <h3 class="mg-md">
                                                            Monthly Payment<br>
                                                        </h3>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        <h4 class="mg-md">
                                                            {{ "${:,.2f}".format(debt.monthly_payment) if debt.monthly_payment else '-' }}
                                                        </h4>
                                                    </div>
                                                </div>
                                                <div class="row voffset info-row">
                                                    <div class="col-sm-5">
                                                        <h3 class="mg-md">
                                                            Date of Last Payment<br>
                                                        </h3>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        <h4 class="mg-md">
                                                            {{ debt.last_paid_at or '-'  }}
                                                        </h4>
                                                    </div>
                                                </div>
                                                <div class="row voffset info-row">
                                                    <div class="col-sm-5">
                                                        <h3 class="mg-md">
                                                            Account Status<br>
                                                        </h3>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        <h4 class="mg-md">
                                                            {{ debt.status or '-'  }}
                                                        </h4>
                                                    </div>
                                                </div>
                                                <div class="row voffset info-row">
                                                    <div class="col-sm-5">
                                                        <h3 class="mg-md">
                                                            Money Movement<br>
                                                        </h3>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        <h4 class="mg-md">
                                                            {{ debt.money_movement or '-'  }}
                                                        </h4>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
								</div>
								<div class="worksheet-section">
									<h2 class="mg-md tc-olive-drab-7">
										Additional Details
									</h2>
									<div class="input-container">
										{{ profile_edit_form_field(form.knowWhereToStart) }}
									</div>
									<div class="input-container">
										{{ profile_edit_form_field(form.averageInterestRate) }}
									</div>
									<div class="input-container">
										{{ profile_edit_form_field(form.incomeYN) }}
									</div>
									<div class="input-container">
										{{ profile_edit_form_field(form.incomeAmount) }}
									</div>
									<div class="input-container">
										{{ profile_edit_form_field(form.incomeConsistency) }}
									</div>
									<div class="input-container">
										{{ profile_edit_form_field(form.is_married) }}
									</div>
									<div class="input-container">
										{{ profile_edit_form_field(form.houseHoldSize) }}
									</div>	
									<div class="input-container">
										{{ profile_edit_form_field(form.homeEquity) }}
									</div>	
									<div class="input-container">
										{{ profile_edit_form_field(form.ownHome) }}
									</div>	
									<div class="input-container">
										{{ profile_edit_form_field(form.behindOnPayments) }}
									</div>									
									<div class="input-container">
										{{ profile_edit_form_field(form.daysPastDue) }}
									</div>	
									<div class="input-container">
										{{ profile_edit_form_field(form.phoneOrEmail) }}
									</div>	
									<div class="input-container">
										{{ profile_edit_form_field(form.employment_status) }}
									</div>	
									<div class="input-container">
										{{ profile_edit_form_field(form.additional_income) }}
									</div>	
									<div class="input-container">
										{{ profile_edit_form_field(form.additional_income_amount) }}
									</div>	
									<div class="input-container">
										{{ profile_edit_form_field(form.additional_income_consistent) }}
									</div>	
									<div class="input-container">
										{{ profile_edit_form_field(form.credit_score_importance) }}
									</div>	
									<div class="input-container">
										{{ profile_edit_form_field(form.needs_future_student_loan) }}
									</div>	
									<div class="input-container">
										{{ profile_edit_form_field(form.needs_future_auto_loan) }}
									</div>	
									<div class="input-container">
										{{ profile_edit_form_field(form.needs_future_mortgage) }}
									</div>	
									<div class="input-container">
										{{ profile_edit_form_field(form.revenue_potential) }}
									</div>	
								</div>
								
								<input class="saveBtn" type="submit" name="submit" value="save"/>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-1 END -->
</ul>
</form>

<!--
This isn't pretty, but nesting forms in HTML ends up badly (the first nested form seems to not be rendered at all)
so the actual debt delete forms are added after the "big" profile form, while their submit inputs are still left in
their original place, and the correspondence is made using form ids.
-->
{% for debt in user.debts %}
     <form id="form_{{ debt.id }}" action="{{ url_for('web.debt_delete', debt_id=debt.id) }}" method="post">
     </form>
{% endfor %}
<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up"></span></a>
<!-- ScrollToTop Button END-->


</div>
<!-- Main container END -->
 

<!-- Status Change confirmation modal -->
<div class="modal fade" id="status_change_modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close dismiss-modal" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">You are about to make changes to the User's <span id="modal_field_name"></span></h4>
            </div>
            <div class="modal-body">
                <p>
                    Are you sure you'd like to perform these changes?
                </p>
                <p>
                    Pressing yes will cause the field to be modified the next time you save. Pressing no will return
                    the field to its original value.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default modal-confirm">Yes</button>
                <button type="button" class="btn btn-default dismiss-modal" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up"></span></a>
<!-- ScrollToTop Button END-->


</div>
<!-- Main container END -->

{% include 'partials/footer.html' %}
<script type="text/javascript">
    $(function () {
        var status_dropdown = $("#user_status");
        var conclusion_dropdown = $("#conclusion");

        var initial_status_value = status_dropdown.val();
        var initial_conclusion_value = conclusion_dropdown.val();

        $('#status_change_modal').on('hidden.bs.modal', function () {
            // Restore both dropdowns to their original values when modal is closed.
            // This could be improved a bit, since right now it fires even after the confirm button is pressed,
            // however the selected values are correctly updated before this event triggers.
            status_dropdown.val(initial_status_value);
            conclusion_dropdown.val(initial_conclusion_value);
        });

        status_dropdown.change(function () {
            $('#status_change_modal').modal('show');
            $(".modal-title #modal_field_name").html('status');
        });

        conclusion_dropdown.change(function () {
            $('#status_change_modal').modal('show');
            $(".modal-title #modal_field_name").html('conclusion');
        });

        $(".modal-confirm").click(function () {
            // Allow selected values to change when the confirm button is pressed.
            initial_status_value = status_dropdown.val();
            initial_conclusion_value = conclusion_dropdown.val();
            $('#status_change_modal').modal('hide');
        });

        // Populate expert note field when a template is selected
        $("#expert_note_template_name").change(function () {
            var template_mapping = {{ template_mapping | tojson }};
            if (this.value == 'None') {
                $("#expert_note").html('');
            }
            else {
                $("#expert_note").html(template_mapping[this.value]);
            }
        });
    });
</script>