{% macro profile_edit_form_field(field) %}
    {{ field.label }} {{ field }}
    <ul class="errors">{% for error in field.errors %}<li>{{ error }}</li>{% endfor %}</ul>
{% endmacro %}

{% macro profile_status_history_field(field, field_label) %}
    {% if field %}
        <li>
            {{ field_label }} set at {{ field | datetimeformat }}
        </li>
    {% endif %}
{% endmacro %}